.fixedcosts-image{
  background-image: image-url('fixedcosts/index.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .fixedcosts-main{
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height:  65px;
    overflow:auto;
    &__title{
      font-size: 30px;
    }
    &__menu{
      font-size: 30px;
    }
    .list{
      display: flex;
      .list__name{
        font-size: 20px;
        width: 33%;

      }
    }
    .list-record{
      font-size: 15px;
    }
    .link-btn{
      color: black;
      font-size: 20px;
    }
  }
}