.fixedcosts-new{
  background-image: image-url('fixedcosts/new.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__main{
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height:  100px;
  }
  .new-title{
    font-size: 30px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button {
    text-transform: uppercase;
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    padding: 1em 2em;
    background: none;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid;
    cursor: pointer;
  }
  
  .button::after {
    content: "";
    background-color: transparent;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    color: #3f51b5;
    z-index: -1;
  }
  
  .button:hover::after {
    opacity: 1;
    background-color: #cc879e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button,
  .button:after {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .button:hover {
    border: 4px solid #cc879e;
  }
}