<div class="main">
	<div class="main__content">
		<h1 class= "title">マネーチャイルド</h1>
		<div class="list">
			<%= link_to "おしごとせってい", :incomes, class:"list__main"%>
			<%= link_to "つかったお金せってい", :fixedcosts, class:"list__main" %>
			<%= link_to "ボーナスせってい", :variablecosts,class:"list__main" %>
</div>