<div class="main">
<div class="main__top">
<h1 class= "title">マネーチャイルド</h1>


<div class="menu" >メニュー</div>

<div class="lists-main">
	<%= link_to "ここからおしごとをとうろくしよう！", :incomes, class:"list"%>
	<%= link_to "つかったおかねのとうろく", :fixedcosts, class:"list" %>
	<%= link_to "ボーナス（テスト）のとうろく", :variablecosts,class:"list" %>
  </div>
 </div>
</div>