<div class="main">
	<div class="main__content">
		<span class= "title-rainbow">マネーチャイルド</span>
		<div class="list">
			
			<%= link_to "おしごとのせってい", :incomes, class:"list__main list1 "%>
			<%= link_to "使ったお金せってい", :fixedcosts, class:"list__main list1" %>
			<%= link_to "ボーナスのせってい", :variablecosts,class:"list__main list1" %>
		</div>
	</div>
</div>
