
.main{
  background-image: image-url('top/top.jpeg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__content{
    width: 80%;
    height: 80%;
    line-height: 85px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .title-rainbow{
     font: bold 3em/ 1 Verdana,Arial,sans-serif;
     background: linear-gradient(to left, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;;
     background-clip: text; 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation:title-rainbow 4s linear infinite;
    
    }
    @keyframes title-rainbow {
      to {background-position-x: 200%;}
    }
    .menu{
      font-size: 40px;
      margin-bottom: 40px;
    }
    .menu2{
      margin-top: 40px;
      font-size: 40px;
    }
    .list{
      display: flex;
      flex-direction:column ;
      margin-top: 100px;
      &__main{
        color: black;
        font-size: 38px;
        text-decoration: none;
      }
    }
    @keyframes typing { from { width: 0; } }
    @keyframes caret { 50% { border-color: transparent; } }

    .list1{
    width: 16ch;
    // border-right: .08em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(10, end), caret .5s step-end infinite;
    margin: 0 auto;
    font-size: 40px;
    }
    
  }
}

