<div class="incomes-edit-image">
	<div class="incomes-edit-main">
		<h1 class="work-edit">おしごとへんしゅう</h1>
		<%= form_for @income do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit">けってい</button>
		<% end %>
	</div>
</div>
