<div class="incomes-edit-image">
	<div class="incomes-edit-main">
		<h1 class="work-edit title-rainbow">おしごとへんしゅう</h1>
		<%= form_for @income do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit" class="ghst-btn">けってい</button>
		<% end %>
	</div>
</div>
