<div class="work-image">
	<div class="work-new">
		<h2 class="work-new__name">おしごととうろく</h2>
		<%= form_for @income do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit">けってい</button>
		<% end %>
	</div>
</div>