<div class="work-image">
	<div class="work-new">
		<h1 class="work-new__name title-rainbow">おしごととうろく</h1>
		<%= form_for @income do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit">けってい</button>
		<% end %>
	</div>
</div>