<div class="incomes-show-image">
	<div class="incomes-show-main">
		<h1 class="show-title">とうろくできたね！がんばろう！</h1>
		<%= link_to "おしごといちらんにもどるよ", :incomes,class:"link-btn" %>
		<%# <table>
			<tr>
		   <th>なまえ</th>
		   <td><%= @income.name %></td>
		 <%# </tr>
			<tr>
				<th>ないよう</th>
				<td><%= @income.description %></td>
			<%# </tr>
		</table> %> 
	</div>
</div>