<div class="variablecosts-new">
	<div class="variablecosts-new__main">
		<h1 class="new-title">ボーナスとうろく</h1>
		<%= form_for @variablecost do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit">けってい</button>
		<% end %>
	</div>
</div>