<div class="variablecosts-new">
	<div class="variablecosts-new__main">
		<h1 class="new-title title-rainbow">ボーナスとうろく</h1>
		<%= form_for @variablecost do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit" class="ghst-btn">けってい</button>
		<% end %>
	</div>
</div>