<h2>ボーナスのしょうさい</h2>

<%= link_to "ここからへんしゅうできるよ",[:edit,@variablecost]%>
<%= link_to "ボーナスにもどるよ", :variablecosts %>

<table>

  <tr>
  <th>かもく</th>
  <td><%= @variablecost.name%></td>
</tr>

  <tr>
    <th>きんがく</th>
    <td><%= @variablecost.description %></td>
  </tr>
  
</table>