<div class="variablecosts-show-image">
  <div class="variablecosts-show-main">
    <h1 class="show-title">ボーナスやったね！楽しみだね！</h1>
    <%= link_to "ボーナスにもどるよ", :variablecosts,class:"link-btn" %>    
  </div>
</div>