<div class="fixedcosts-edit-image">
	<div class="fixedcosts-edit-main">
		<h1 class="edit-title">つかったお金をへんしゅう<h1>
			<%= form_for @fixedcost do |form| %>
				<%= render "form", form: form %>
				<button type='submit' name="button-submit" class="ghst-btn">けってい</button>
			<% end %>
	</div>
</div>
