<div class="fixedcosts-new">
	<div class="fixedcosts-new__main">
		<h1 class="new-title">つかったおかねとうろく</h1>
		<%= form_for @fixedcost do |form| %>
			<%= render "form", form: form %>
			<div class="container">
				<button type='submit' name="button-submit" class="button">けってい</button>
			</div>
		<% end %>
	</div>
</div>