<div class="fixedcosts-new">
	<div class="fixedcosts-new__main">
		<h1 class="new-title">つかったおかねとうろく</h1>
		<%= form_for @fixedcost do |form| %>
			<%= render "form", form: form %>
			<button type='submit' name="button-submit">けってい</button>
		<% end %>
	</div>
</div>