<div class="fixedcosts-show-image">
  <div class="fixedcosts-show-main">
    <h2 class="show-title">けいかくてきに使えたかな？</h2>
    <%# <%= link_to "ここからへんしゅうできるよ",[:edit,@fixedcost]  %>
    <%= link_to "つかったおかねにもどるよ", :fixedcosts,class:"link-btn" %>
    <%# <table>
      <tr>
      <th>なまえ</th>
      <%# <td><%= @fixedcost.name%></td> 
    <%# </tr>
      <tr>
        <th>せつめい</th>
        <td><%= @fixedcost.description %></td>
      <%# </tr> %>
    <%# </table> %> 
  </div>
</div>
