.incomes-image{
  background-image: image-url('incomes/index.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .incomes-main{
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height:  65px;
    overflow:auto;
    .title{
      font-size: 30px;
    }
    .menu{
      font-size: 30px;
    }
    .list{
      display: flex;
      &__name{
        width: 33%;
        font-size: 25px;
      }
    }
    .link-btn{
      color:black;
      font-size: 19px;
      text-decoration: none;
    }
    .title-rainbow{
     font: bold 3em/ 1 Verdana,Arial,sans-serif;
     background: linear-gradient(to left, #f00 0%, #f80 14.28%,black 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;;
     background-clip: text; 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation:title-rainbow 2.5s linear infinite;
    
    }
    @keyframes title-rainbow {
      to {background-position-x: 200%;}
    }
  }
}