.work-image{
  background-image: image-url('incomes/new.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .work-new{
    width: 80%;
    height: 80%;
    line-height: 85px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 100px;
    &__name{
      font-size: 30px;
    }
        .title-rainbow{
     font: bold 3em/ 1 Verdana,Arial,sans-serif;
     background: linear-gradient(to left, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;;
     background-clip: text; 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation:title-rainbow 2s linear infinite;
    
    }
    @keyframes title-rainbow {
      to {background-position-x: 200%;}
    }

  }
}